header {
    display: flex;
    width: 100%;
    height: auto;
    padding : 2%;
    background-color: $secondaryBackgroundColor;
    
    @media (max-width: 425px) {
        flex-flow: row wrap;
    }
    .container-logo {
        display: flex;
        width: 60%;
        height: auto;
        @media screen and(max-width: 425px) {
            @include displayRowCenter;
            width: 100%;
        }
        .orinoco-logo {
            display: flex;
            width: 208px;
            height: 166px;
            @media screen and(max-width: 1024px){
                width: 192px;
                height: 108px;;
            }
            @media screen and(max-width: 628px){
                width: 134px;
                height: 75px;;
            }
        } 
    }
    nav {
        @include displayRowCenter;
        width: 40%;
        @media (max-width: 768px) {
            padding: 5px;
            width: 100%;
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            
            li {
                list-style: none;
                color: $tertiaryFontColor;
                font: {
                    size: 1rem;
                    weight: 700;
                }
                padding: 15px;
                border-radius: 15px;
                border: 4px solid $tertiaryBorderColor;
                transition: all 500ms ease;
                &:hover {
                    color: $secondaryFontColor;
                    background-color: $primaryBackgroundColor;
                }
            }
        }
    } 
}