.container-selected-article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 80%;
    .title-container {
        @include displayRowCenter;
        width: 90%;
        height: auto;
        background-color: $primaryBackgroundColor;
        h1 {
            @include displayRowCenter;
            width: 100%;
            height: 100%;
            color: rgba(73, 25, 25, 1);
            font : {
                size: 1.5rem;
                weight: 900;
            }   
            word-spacing: 3px;
            padding: 20px 0;
            text-align: center;  
        }
    }
}

#available-article-container {
    @include displayRowCenter;
    width: 90%;
    height: 80%;
    margin-bottom: 100px;
    .selected-article {
        @include displayRowCenter;
        height: 100%;
        width: 100%;
        @media screen and(max-width: 425px){
            display: flex;
            flex-flow: column nowrap;
        }
        
        .selected-article-figure {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            width: 60%;
            padding: 1%;
            background-color: $secondaryBackgroundColor;
            @media screen and(max-width: 425px){
                width: 100%;
                height: 50%;
            }
            .container-name-article {
                @include displayRowCenter;
                width: 100%;
                height: 10%;
                background-color: $secondaryBackgroundColor;
                h2 {
                    @include displayRowCenter;
                    color: $tertiaryFontColor;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                }  
             }
            .container-image {
                @include displayRowCenter;
                width: 100%;
                height: 90%;
                .selected-article-image-b {
                    display: flex;
                    width: 600px;
                    height: 400px;
                    object-fit: contain;
                    object-position: center;
                    @media screen and(max-width:425px){
                       width: 250px; 
                       height: 250px;
                    }
                    @media screen and(min-width:426px) and(max-width:768px){
                       width: 200px; 
                       height: 200px;
                    }
                    @media screen and(min-width:769px)and(max-width:1024px){
                       width: 400px; 
                       height: 300px;
                    }
                }
             }
         }
         .selected-article-informations-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            height: 100%;
            color: $tertiaryFontColor;
            background-color: $secondaryBackgroundColor;
            padding: 2%;
            @media screen and(max-width:1024px){
                width: 100%;
             }
            .container-description {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                text-align: justify;
                height: 40%;
                font-size: 2vw;
                @media screen and(max-width:425px){
                    width: 100%; 
                    height: auto;
                 }
            }
            .container-price {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                height: 10%;
                font-size: 3vw;
                margin: 5% 0;
            }
            #container-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                .lessArticle {
                    @include displayRowCenter;
                    width: 40px;
                    height: 20px;
                    border-radius: 50px;
                    border: 0;
                    cursor: pointer;
                    background-color: $tertiaryBackgroundColor;
                }
                .amountSelectedArticle {
                    @include displayRowCenter;
                    font-size: 2.5rem;
                    @media screen and (max-width: 1024px){
                        font-size: 1.5rem;
                    }
                    @media screen and (max-width: 425px){
                        font-size: 1rem;
                    }
                }
                .addAmountSelectedArticle {
                    @include displayRowCenter;
                    width: 30px;
                    height: 30px;
                    font-size: 1rem;
                    border-radius: 50px;
                    border: 0;
                    cursor: pointer;
                    background-color: $tertiaryBackgroundColor;
                }
            }
            form {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 50%;
                background-color: $secondaryBackgroundColor;
                .container-option-product {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
                    margin: 5% 0;
                    label {
                        display: flex;
                        font-size: 2vw;
                        margin-right: 15%;
                        @media screen and (max-width: 425px){
                            justify-content: flex-end;
                        }  
                    }
                    #id_option_produit {
                        display: flex;
                        width: auto;
                        padding: 2%;
                        border-radius: 5px;
                        font-size: 2vw;
                        cursor: pointer;  
                    }
                }
                button {
                    @include displayRowCenter;
                    text-align: justify;
                    width: auto;
                    padding: 2%;
                    margin-top: 5%;
                    border-radius: 5px;
                    font-size: 2vw;
                    cursor: pointer;
                }
            }
         }
     }
 }