// ********** BASKET_ONORICO **************
#orinoco-articles-selection-container {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    .container-basket-empty {
        // @include displayRowCenter;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        background-color: $secondaryBackgroundColor;
        font-size: 1rem;
        color: $tertiaryFontColor;
        text-transform: uppercase;
    }
    .selection {
        display: flex;
        grid-gap: 2px;
        width: 100%;
        height: auto;
        border-bottom: 2px solid $secondaryBorderColor;
        padding: 15px;

        .btn-article-delete {
            width: 10%;
            background-color: $tertiaryBackgroundColor;
            border-radius: 5px;
            font-size: 2vw;
            color: rgb(128, 36, 128);
            padding: 1%;
            border: none;
        }
        .articleName {
            display:flex;
            justify-content: flex-start;
            align-items: center;
            width: 40%;
            white-space: nowrap;
            font-size: 2.5vw;
        }
        .articleOptions {
            @include displayRowCenter;
            width: 20%;
            font-size: 2.5vw;
        }
        .articlePrice {
            @include displayRowCenter;
            width: 20%;
            height: 100%;
            color: $secondaryFontColor;
            background-color: bisque;
            border-radius: 10px;
            font-size: 2.5vw;
            font-weight: bolder; 
        }
        .articleAmount {
            @include displayRowCenter;
            width: 10%;
            font: {
                size: 2vw;
                weight: bold;
            }
        }
    }
    .deleteAll {
        @include displayRowCenter;
        width: 30%;
        font: {
            weight: 900;
            size: 2vw;
        }
        padding: 1%;
        margin: 15px;
        border-radius: 5px;
        background-color: $tertiaryBackgroundColor;
        border: 2px solid black;
        white-space: nowrap;
    }
    .container-total-price-article {
        @include displayRowCenter;
        width: 100%;
        padding: 0 15px 10% 0;
       .text-total-price-article {
            @include displayRowCenter;
            justify-content: flex-end;
            width: 80%;
            height: 100%;
            font-size: 2.5vw;
       } 
       .total-price-article {
            @include displayRowCenter;
            width: 20%;
            color: green;
            font-size: 3vw;
            font-weight: bolder;
       }
    } 
}
#form-validation {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    padding: 3% 8%;
    border-radius: 15px;
    background-color: rgba(255, 228, 196, 0.336);
    @media screen and(min-width: 1024px){
        width: 50%;
    }
    .container-input-information {
        position: relative;
        margin-bottom: 2%;
        padding-bottom: 3%;
        label {
            display: inline-block;
            margin-bottom: 1%;
            font-size: 1.5rem;
        }
        input {
            display: block;
            width: 100%;
            height: 30px;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid black;
            font: {
                size: 1rem;
                weight: 900;
            }
            border-radius: 5px;
            @media screen and(min-width: 1024px) {
                height: auto;
            }
        }
        i {
            position: absolute;
            top: 40px;
            right: 10px;
            visibility: hidden;
        }
        .errorMessage {
            position: absolute;
            font-size: 0.7rem;
            bottom: 5px;
            padding-top: 1%;
            left: 0;
            visibility: hidden;
        }
    }
    #btnSubmit {
        font-size: 2rem;
        color: $tertiaryFontColor;
        background-color: $secondaryBackgroundColor;
        border-radius: 5px;
        border: none;
        padding: 3% 0;
    }
    .container-input-information.success input {
        border-color: blue;
    }
    .container-input-information.success i.fa-check-circle {
        visibility: visible;
        color: blue;   
    }
    .container-input-information.success i.fa-exclamation-circle {
        visibility: hidden;
        color: blue;   
    }
    .container-input-information.error input {
        border-color: rgb(255, 4, 4);
    }
    .container-input-information.error i.fa-check-circle {
        visibility: hidden;
        color: rgb(255, 4, 4);   
    }
    .container-input-information.error i.fa-exclamation-circle {
        visibility: visible;
        color: rgb(255, 4, 4);   
    }
    .container-input-information.error.error .errorMessage {
        visibility: visible;
        color: rgb(255, 4, 4);  
    }
}
