// ********** FORM_ONORICO **************
.form-validation {
    @include displayRowCenter;
    flex-flow: column nowrap;
    width: 80%;
    margin-top: 10%;
    border: 5px solid rgba(73, 25, 25, 1);
    border-radius: 15px;
    overflow: hidden;
    background-color: $primaryBackgroundColor;
    .container-total-price {
        @include displayRowCenter;
        width: 100%;
        flex-flow: column nowrap;

        padding: 2% 1%;
        .textTotalPrice, .totalPrice {
            text-transform: uppercase;
            text-align: justify;
            font: {
                size: 2vw;
                weight: bolder;
            }
            color: rgba(73, 25, 25, 1);
            margin-bottom: 3%;
        }
        .totalPrice {
            font: {
                size: 2.5vw;
                weight: bolder;
            }
            color: blue;
            margin-bottom: 5%;
        }
        
    }
    .container-number-order {
        @include displayRowCenter;
        width: 100%;
        flex-flow: column nowrap;

        padding: 2% 1%;
        .text-order{
            @include displayRowCenter;
            text-transform: uppercase;
            font: {
                size: 2vw;
                weight: bolder;
            }
            color: rgba(73, 25, 25, 1);
            margin-bottom: 5%;
        }
        .number-order {
            display: flex;
            justify-content: center;
            font: {
                size: 2.5vw;
                weight: bolder;
            }
            color: blue;
            margin-bottom: 5%;
           
        }
        
    }
}
.home {

    font-size: 2rem;
    margin-top: 25px;
}