// ----------------------- INDEX ---------------------------

.articles-list-article {
    @media screen and (max-width: 768px){
        max-width: 300px;
        max-height: 300px;
    }
    @media screen and (max-width: 425px){
        max-width: 200px;
        max-height: 200px;
    }

}



// ------------------- PRODUCTS_ORINOCO --------------------

#selected-article-container .selected-article .selected-article-figure .container-name-product h2 {
    @media screen and (min-width: 1440px){
        font-size: 3rem;
    }
    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 425px) {
        font-size: 0.8rem;
    }
}


// ------------------- BASKET_ORINOCO --------------------
