$primaryFontColor: #000000;
$secondaryFontColor: rgba(73, 25, 25, 1);
$tertiaryFontColor: #ffffff;

$primaryBackgroundColor: rgba(243,233,241,1);
$secondaryBackgroundColor: rgba(73, 25, 25, 1);
$tertiaryBackgroundColor: #ffffff;

$primaryBorderColor: #000000;
$secondaryBorderColor : rgba(73, 25, 25, 1);
$tertiaryBorderColor : rgba(243,233,241,1);
